<div class="md:p-8 mb-20">

  <div class="mt-4 w-full grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-4">
    <div class="bg-white shadow rounded-lg p-2 sm:p-6 xl:p-8 ">
       <div class="flex items-center">
          <div class="flex-shrink-0">
             <span class="text-2xl leading-none font-bold text-gray-900">{{patientCount}}</span>
             <h3 class="text-base font-normal text-gray-500">Total Patients</h3>
          </div>
       </div>
    </div>
    <div class="bg-white shadow rounded-lg p-2 sm:p-6 xl:p-8 ">
       <div class="flex items-center">
          <div class="flex-shrink-0">
             <span class="text-2xl leading-none font-bold text-gray-900">{{appointmentCount}}</span>
             <h3 class="text-base font-normal text-gray-500">Total Appointments</h3>
          </div>
       </div>
    </div>
    <div class="bg-white shadow rounded-lg p-2 sm:p-6 xl:p-8 ">
       <div class="flex items-center">
          <div class="flex-shrink-0">
             <span class="text-2xl leading-none font-bold text-gray-900">{{userCount}}</span>
             <h3 class="text-base font-normal text-gray-500">Total Users</h3>
          </div>
       </div>
    </div>
 </div>

  <h4 class="font-semibold mt-2 md:hidden">Features</h4>
  <div class="w-full mt-5 px-2 grid grid-cols-4 gap-7 justify-center md:hidden">
    <div routerLink="/mobiledashboard/clinic"
      class="flex flex-col items-center justify-center w-20  h-20  bg-green-200 rounded-2xl text-green-600 shadow hover:shadow-md cursor-pointer mb-2 p-1 bg-white transition ease-in duration-300">
      <i class="far fa-hospital"></i>
      <p class="text-sm mt-1">Clinics</p>
    </div>
    <div routerLink="/mobiledashboard/physician"
      class="flex flex-col items-center justify-center w-20  h-20  bg-green-200 rounded-2xl text-green-600 shadow hover:shadow-md cursor-pointer mb-2 p-1 bg-white transition ease-in duration-300">
      <i class="far fa-user"></i>
      <p class="text-sm mt-1">Physicians</p>
    </div>

    <div routerLink="/mobiledashboard/patient" *ngIf="role != 'Patient'"
      class="flex flex-col items-center justify-center w-20  h-20  bg-yellow-200 rounded-2xl text-yellow-600  shadow hover:shadow-md cursor-pointer mb-2 p-1 bg-white transition ease-in duration-300">
      <i class="far fa-user"></i>
      <p class="text-sm mt-1">Patients</p>
    </div>

    <div *ngIf="role == 'Physician'" routerLink="/mobiledashboard/services"
      class="flex flex-col items-center justify-center w-20  h-20  bg-indigo-200  rounded-2xl  text-indigo-500 shadow hover:shadow-md cursor-pointer mb-2 p-1 bg-white transition ease-in duration-300">
      <i class="far fa-notes-medical"></i>
      <p class="text-sm mt-1">Services</p>
    </div>

    <div *ngIf="role != 'Admin'" routerLink="/mobiledashboard/appointment"
      class="flex flex-col items-center justify-center w-20  h-20  bg-pink-200   rounded-2xl text-pink-500 shadow hover:shadow-md cursor-pointer mb-2 p-1 bg-white transition ease-in duration-300">
      <i class="far fa-calendar"></i>
      <p class="text-sm mt-1">Schedule</p>
    </div>
  </div>



  <h4 class="font-semibold mt-5">Clinic Advertisments</h4>
  <div class="grid grid-cols-1 w-full p-5 md:grid-cols-2 gap-5">
    <div class="flex items-center justify-center" *ngFor="let item of clinicList">
      <div class="relative flex w-full max-w-[48rem] flex-row rounded-xl bg-white bg-clip-border text-gray-700 shadow-md">
        <div class="relative m-0 w-2/5 shrink-0 overflow-hidden rounded-xl rounded-r-none bg-white bg-clip-border text-gray-700">
          <img
            src="https://images.unsplash.com/photo-1522202176988-66273c2fd55f?ixlib=rb-4.0.3&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=1471&amp;q=80"
            alt="image"
            class="h-full w-full object-cover"
          />
        </div>
        <div class="p-3">
          <h6 class="mb-2 block font-sans text-sm font-semibold uppercase leading-relaxed tracking-normal text-pink-500 antialiased">
            {{item.clinicName}}
          </h6>
          <p class="block font-sans text-xs font-normal leading-relaxed text-gray-700 antialiased">
            {{item.description}}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

