<div>
  <!-- component -->
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
<link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">

<div
  class="w-full overflow-y-scroll space-y-3 shadow-2xl z-10 h-screen">
  <div class="relative sticky top-0 h-20 w-full flex rounded-b-3xl bg-center bg-alili cursor-pointer object-cover z-10 shadow-lg">
    <div class="p-4 rounded-lg flex flex-col w-full">
      <h4 class="text-xl text-white font-bold leading-tight truncate">{{name}}
      </h4>
      <div class="flex justify-between items-center ">
        <div class="flex flex-col">
          <h2 class="text-sm flex items-center text-white font-normal">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-1 text-alili" fill="none" viewBox="0 0 24 24"
              stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z">
              </path>
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M15 11a3 3 0 11-6 0 3 3 0 016 0z"></path>
            </svg>
            {{role}}
          </h2>
        </div>
      </div>
    </div>
    <div class="p-4 rounded-lg flex flex-col">
      <div class="flex items-center text-xl font-semibold">
        <div class="cursor-pointer hover:scale-105 transform flex items-center justify-center p-3 rounded-full bg-alili text-center text-white shadow-xl dark:text-gray-200" data-te-toggle="modal"
        data-te-target="#rightTopModal"
        data-te-ripple-init
        data-te-ripple-color="light">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor"
              class="h-6 w-6">
              <path
                fill-rule="evenodd"
                d="M5.25 9a6.75 6.75 0 0113.5 0v.75c0 2.123.8 4.057 2.118 5.52a.75.75 0 01-.297 1.206c-1.544.57-3.16.99-4.831 1.243a3.75 3.75 0 11-7.48 0 24.585 24.585 0 01-4.831-1.244.75.75 0 01-.298-1.205A8.217 8.217 0 005.25 9.75V9zm4.502 8.9a2.25 2.25 0 104.496 0 25.057 25.057 0 01-4.496 0z"
                clip-rule="evenodd" />
            </svg>
          </div>
       </div>
    </div>
  </div>

  <div class="px-2 pt-3 pb-10 space-y-4 z-0">
    <router-outlet></router-outlet>
  </div>
  <div id="footer" class="fixed bottom-3.5 left-0 right-0 bg-alili px-3 m-2 flex items-center justify-between text-gray-400 rounded-2xl cursor-pointer">
    <a routerLink="/mobiledashboard/dashboard">
    <div class="p-5 flex flex-col items-center transition ease-in duration-200 hover:text-blue-400">
      <svg xmlns="http://www.w3.org/2000/svg"  class="h-6 w-6 text-white" stroke="currentColor" height="1em" viewBox="0 0 512 512"><style>svg{fill:#ffffff}</style><path d="M40 48C26.7 48 16 58.7 16 72v48c0 13.3 10.7 24 24 24H88c13.3 0 24-10.7 24-24V72c0-13.3-10.7-24-24-24H40zM192 64c-17.7 0-32 14.3-32 32s14.3 32 32 32H480c17.7 0 32-14.3 32-32s-14.3-32-32-32H192zm0 160c-17.7 0-32 14.3-32 32s14.3 32 32 32H480c17.7 0 32-14.3 32-32s-14.3-32-32-32H192zm0 160c-17.7 0-32 14.3-32 32s14.3 32 32 32H480c17.7 0 32-14.3 32-32s-14.3-32-32-32H192zM16 232v48c0 13.3 10.7 24 24 24H88c13.3 0 24-10.7 24-24V232c0-13.3-10.7-24-24-24H40c-13.3 0-24 10.7-24 24zM40 368c-13.3 0-24 10.7-24 24v48c0 13.3 10.7 24 24 24H88c13.3 0 24-10.7 24-24V392c0-13.3-10.7-24-24-24H40z"/></svg>
    </div>
    </a>


    <a routerLink="/mobiledashboard/clinic">
    <div class="p-5 flex flex-col items-center transition ease-in duration-200 hover:text-blue-400 ">
      <svg xmlns="http://www.w3.org/2000/svg"  class="h-6 w-6 text-white" stroke="currentColor" viewBox="0 0 576 512"><style>svg{fill: #ffffff}</style><path  stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M575.8 255.5c0 18-15 32.1-32 32.1h-32l.7 160.2c.2 35.5-28.5 64.3-64 64.3H128.1c-35.3 0-64-28.7-64-64V287.6H32c-18 0-32-14-32-32.1c0-9 3-17 10-24L266.4 8c7-7 15-8 22-8s15 2 21 7L416 100.7V64c0-17.7 14.3-32 32-32h32c17.7 0 32 14.3 32 32V185l52.8 46.4c8 7 12 15 11 24zM272 192c-8.8 0-16 7.2-16 16v48H208c-8.8 0-16 7.2-16 16v32c0 8.8 7.2 16 16 16h48v48c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16V320h48c8.8 0 16-7.2 16-16V272c0-8.8-7.2-16-16-16H320V208c0-8.8-7.2-16-16-16H272z"/></svg>
    </div>
    </a>

    <!-- <div class="fixed bottom-32 w-[90vw] shadow-2xl" *ngIf="showAiChat">
      <div class="bg-white shadow-md rounded-lg max-w-lg w-full">
        <div class="p-4 border-b bg-alili text-white rounded-t-lg flex justify-between items-center"
          (click)="showChatBox()">
          <p class="text-lg font-semibold">ClinPoint AI</p>
          <button id="close-chat" class="text-gray-300 hover:text-gray-400 focus:outline-none focus:text-gray-400">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24"
              stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
            </svg>
          </button>
        </div>
        <div id="chatbox" class="p-4 h-80 overflow-y-auto">
          <div class="mb-2"*ngFor="let m of messages" [ngClass]="{'text-right': m.role === 'user'}">
            <p class="rounded-lg py-2 px-4 inline-block" [ngClass]="{'bg-gray-200 text-gray-700': m.role === 'assistant', 'bg-alili text-white ': m.role === 'user', 'animate-bounce': m.content === ' o o o '}">{{m.content}}</p>
          </div>
        </div>
        <div class="p-4 border-t flex">
          <input type="text" placeholder="Type a message" [(ngModel)]="userMessage"
            class="w-full px-3 py-2 border rounded-l-md focus:outline-none focus:ring-2 focus:ring-blue-500">
          <button (click)="aiChat()"
            class="bg-alili text-white px-4 py-2 rounded-r-md hover:bg-blue-600 transition duration-300">Send</button>
        </div>
      </div>
    </div> -->


    <div class="flex flex-col items-center hover:text-blue-400">
      <div routerLink="/mobiledashboard/appointment"
        class="absolute bottom-5 shadow-2xl text-center flex items-center justify-center rounded-full border-4 text-3xl border-gray-50 bg-alili h-16 w-16 p-2 text-white transition ease-in duration-200 ">
        <i class="far fa-solid fa-calendar" style="color: #ffffff;" ></i>
        <span   class="animate-ping absolute inline-flex h-full w-full rounded-full border-4 opacity-50"></span>
      </div>
    </div>

    <a routerLink="/mobiledashboard/physician">
    <div class="p-5 flex flex-col items-center transition ease-in duration-200 hover:text-blue-400">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-white" stroke="currentColor" height="1em" viewBox="0 0 448 512"><style>svg{fill:#ffffff}</style><path d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-96 55.2C54 332.9 0 401.3 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7c0-81-54-149.4-128-171.1V362c27.6 7.1 48 32.2 48 62v40c0 8.8-7.2 16-16 16H336c-8.8 0-16-7.2-16-16s7.2-16 16-16V424c0-17.7-14.3-32-32-32s-32 14.3-32 32v24c8.8 0 16 7.2 16 16s-7.2 16-16 16H256c-8.8 0-16-7.2-16-16V424c0-29.8 20.4-54.9 48-62V304.9c-6-.6-12.1-.9-18.3-.9H178.3c-6.2 0-12.3 .3-18.3 .9v65.4c23.1 6.9 40 28.3 40 53.7c0 30.9-25.1 56-56 56s-56-25.1-56-56c0-25.4 16.9-46.8 40-53.7V311.2zM144 448a24 24 0 1 0 0-48 24 24 0 1 0 0 48z"/></svg>
    </div>
    </a>

    <a routerLink="/mobiledashboard/settings">
    <div class="p-5 flex flex-col items-center transition ease-in duration-200 hover:text-blue-400 ">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-white" stroke="currentColor" height="1em" viewBox="0 0 512 512"><style>svg{fill:#ffffff}</style><path d="M399 384.2C376.9 345.8 335.4 320 288 320H224c-47.4 0-88.9 25.8-111 64.2c35.2 39.2 86.2 63.8 143 63.8s107.8-24.7 143-63.8zM0 256a256 256 0 1 1 512 0A256 256 0 1 1 0 256zm256 16a72 72 0 1 0 0-144 72 72 0 1 0 0 144z"/></svg>
    </div>
    </a>
  </div>
</div>


<style>
::-webkit-scrollbar {
  width: 0;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 0px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  background-color: transparent;
  outline: 1px solid transparent;
}
</style>

</div>

<div
  data-te-modal-init
  class="fixed left-0 top-0 z-[1055] hidden h-full w-full overflow-y-auto overflow-x-hidden outline-none"
  id="rightTopModal"
  tabindex="-1"
  aria-labelledby="rightTopModalLabel"
  aria-hidden="true">
  <div
    data-te-modal-dialog-ref
    class="pointer-events-none absolute h-[80vh] w-full translate-x-[100%] opacity-0 transition-all duration-300 ease-in-out min-[400px]:mx-auto min-[400px]:mt-7 min-[400px]:max-w-[400px]">
    <div
      class="min-[400px]:shadow-[0_0.5rem_1rem_rgba(#000, 0.15)] pointer-events-auto relative flex w-full flex-col rounded-md border-none bg-white bg-clip-padding text-current shadow-lg outline-none dark:bg-neutral-600">
      <div
        class="flex flex-shrink-0 items-center justify-between rounded-t-md bg-alili p-4 dark:border-b dark:border-neutral-500 dark:bg-transparent">
        <h5
          class="text-xl font-medium leading-normal text-white"
          id="rightTopModalLabel">
          Hi, {{name}}
        </h5>
        <button
          type="button"
          class="box-content rounded-none border-none text-white hover:no-underline hover:opacity-75 focus:opacity-100 focus:shadow-none focus:outline-none"
          data-te-modal-dismiss
          aria-label="Close">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="h-6 w-6">
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>
      <div class="relative grid p-4 gap-3" data-te-modal-body-ref>
        <span class="text-secondary-600">Notifications</span>
        <div class="grid w-full max-h-[80vh] overflow-y-scroll gap-y-3">

          <div class="flex w-full min-h-[10vh] bg-white border border-alili shadowg-xl rounded-lg overflow-hidden" *ngFor="let n of notificationList">
            <div class="w-2 bg-alili"></div>
            <div class="flex items-center px-2 py-3">
              <img class="w-8 h-8 object-cover rounded-full"  src="/assets/Images/CPLOOG-01.svg">
              <div class="mx-3">
                <h2 class="font-semibold text-gray-800">{{n.title}}</h2>
                <p class="text-gray-600 text-xs">{{n.body}}</p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
